body{
    background-color: #414141;
    color: aliceblue;
}

#images{
    cursor: pointer;
}

div ul li{
    list-style-type: none;
}

#earth{
    text-decoration: none;
    font-size: 20px;
}

#message{
    background-color: red;
    color: rgb(7, 219, 7);
    font-size: larger;
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
    from{left: 0px;}
    to{left: 700px;opacity: 0;}
}